html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  border: 1px solid black;
}

.nice {
    margin: auto;
    padding: 10px 10px 10px 30px;
}

.input-field {
    text-align: center;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    display: inline-block;
}

.center-plain {
    text-align: center;
}

.inline-block {
    display: inline-block;
}
