<!DOCTYPE html>
<html lang="en" ng-app="DailyChecklistApp">

<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/ng-controller.js"></script>
    <title>Daily Checklist</title>
</head>

<body ng-controller="NGController">
{{! changing the mustache delimiter so it doesn't conflict with }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info }}
{{=<% %>=}}

    On Daily Checklist login page (งಠ_ಠ)ง
    <br/><br/><br/>

    Returing user? Login below. <br/>
    Email: <input type="text" ng-model="loginEmail"/> <br/>
    Password: <input type="text" ng-model="loginPassword"/> <br/>
    <button type="button" ng-click="login(loginEmail, loginPassword)">Login</button>

    <br/><br/>

    New user? Register below. <br/>
    First name: <input type="text" ng-model="firstName"/> <br/>
    Last name: <input type="text" ng-model="lastName"/> <br/>
    Email: <input type="text" ng-model="registerEmail"/> <br/>
    Password: <input type="text" ng-model="registerPassword"/> <br/>
    <button type="button" ng-click="register(firstName, lastName, registerEmail, registerPassword)">Register</button>
    <br/><br/>

    {{loginOrRegErrorMessage}}

</body>
</html>